/* ==========================================================================
   Table of Contents
   ==========================================================================
   :: Variables
   :: Miscellaneous
   :: Header & Top-bar
   :: Content
   :: Sidebar & Sidebar-widget
   :: Footer & Footer-widget
   :: WordPress Comments
   :: Contact (template)
*/


/* ==========================================================================
   Variables
   ========================================================================== */

$include-wpcomments-classes: false !default;
$include-contact-classes: false !default;

// Header height
$wpf_header_height: 350;
$wpf_mobile_header_height: 150;


/* ==========================================================================
   Miscellaneous
   ========================================================================== */


// Allow only vertical resizing of textareas.
textarea {
    resize: vertical;
}

// Chrome Frame prompt
.chromeframe {
  margin: 1em;
  padding: 0.2em;
  background: #ccc;
  color: #000;
}

// These classes get @exted so there will be no multiple classes with the same
// contents (properties)
%container {
  @include grid-row;
}
%container-nest {
  @include grid-row($behavior:nest);
}
%col {
  @include grid-column($columns:$total-columns, $position:true);
}
%col-colapsed {
  @include grid-column($columns:$total-columns, $collapse:true, $position:true)
}

// Boxed page
.boxed {
  @extend %container;
}
@media #{$small} {
  .boxed {
    border-left: 1px solid $hr-border-color;
    border-right: 1px solid $hr-border-color;
  }
}

// Form
form {
  margin: 0 0 $form-spacing;
}

// Label Styles
label {
  @include form-label;
}

// We use this to get basic styling on all basic form elements
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  @include form-element;
  @if not $input-include-glowing-effect {
      @include single-transition(all, 0.15s, linear);
  }
}

// Adjust margin for form elements below
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 $form-spacing 0;
}

// Normalize file input width
input[type="file"] {
  width:100%;
}

// We add basic fieldset styling
fieldset {
  @include fieldset;
}

// Top-bar-fix
.top-bar input[type="text"],
.top-bar input[type="submit"] {
  height: rem-calc(32);
  margin-bottom: 0;
}

// No wrap @link http://www.impressivewebs.com/css-white-space/
.NW {
  white-space: nowrap;
}
// Use this to extend classes/ids that need to break up long words so it doesn't break the layout
// http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
%break {
  -ms-word-break: break-all;
      word-break: break-all;
      /* Non standard for webkit */
      word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

// Remove's P-tag's bottom padding
// You might use this for text preceding ul/ol-list's
p.no-spacing   {
    margin-bottom: 0;
}

// Including Font Awesome
@import "font-awesome/font-awesome.scss";

// Add a hover effect for links that use an icon
a[class*=#{$fa-css-prefix}]:hover {
  color: $anchor-font-color-hover;
}

// Alert message
[class*="msgbox-"] {
  @include alert;
  @include radius($global-radius);
  .close {
    @include alert-close;
  }
}
.msgbox-alert {
  @include alert-style($alert-color);
}
.msgbox-succes {
  @include alert-style($success-color);
}
.msgbox-secondary {
  @include alert-style($secondary-color);
}


/* ==========================================================================
   Header & Top-bar
   ========================================================================== */


html .f-topbar-fixed { padding-top: rem-calc(45); }
.site {
  margin-top: rem-calc($wpf_mobile_header_height);
  background-color: #fff;
}
.fixed-header {
  position: fixed;
  width: 100%;
  height: rem-calc($wpf_mobile_header_height);
  top: 0;
  z-index: -20;
  background: url('img/milano_60_4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topbar-fixed {
  .fixed-header { top: rem-calc(45); }
  #navbar .expanded { margin-top: rem-calc(-$wpf_mobile_header_height); }
}
.site-body {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: rem-calc(400);
  z-index: 1;
  background: white;
}
.wp-toolbar {
  // fixes both non-fixed and sticky topbar
  .site-body { padding-top: rem-calc(46); }
  // fixes fixed topbar
  &.topbar-fixed {
    .site { margin-top: rem-calc($wpf_mobile_header_height+46); }
    .site-body { padding-top: 0; } // reset's the padding for fixed topbar
    .fixed-header {
      padding-top: rem-calc(46);
      height: rem-calc($wpf_mobile_header_height+46)
    }
    #wpadminbar { top: rem-calc(45); }
    #navbar .expanded {
      $margin_top_expanded: - $wpf_mobile_header_height - 46;
      margin-top: rem-calc($margin_top_expanded);
    }
  }
}

// Site-meta contains the headings (.site-title & .site-description)
.site-meta {
  @extend %container;
  margin-top: rem-calc($wpf_mobile_header_height * 0.10);
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.45);
  @include radius;
}
.site-meta section {
  @include grid-column($columns:12, $position:true);
}
.site-description {
  clear: left;
  font-size: rem-calc(23);
  line-height: 1.4;
}

// The styles for the search form
.searchform {
  @extend %container;
}
.searchinput {
  @include grid-column($columns:9, $collapse:true, $position:true);
  input {
    @include side-radius($side:left, $radius:$button-radius);
  }
}
.searchsubmit {
  @include grid-column($columns:3, $last-column:true, $collapse:true, $position:true);
  input {
    @include button($padding:false, $full-width:true);
    @include prefix-postfix-base;
    @include side-radius($side:right, $radius:$button-radius);
    font-family: 'FontAwesome', $body-font-family;
    line-height: 1;
  }
}

@media #{$small} {
  .site { margin-top: rem-calc($wpf_header_height); }
  .fixed-header {
    height: rem-calc($wpf_header_height);
    //margin-top: rem-calc(32);
  }

  .site-meta { margin-top: rem-calc($wpf_header_height * 0.20); }

  // Add's a blue line under the top-bar and also fixes a spacing problem
  html .f-topbar-fixed { padding-top: rem-calc(55); }
  .topbar-line { border-bottom: rem-calc(10) solid #005379; }
  .topbar-fixed {
    .site { height: rem-calc($wpf_header_height+10); }
    .fixed-header { top: rem-calc(45+10); }
  }

  // Fix topbar spacing when WordPress toolbar is being used
  .wp-toolbar {
    .site-body { padding-top: 0; }
    .site { margin-top: rem-calc($wpf_header_height+32); }
    .fixed-header { margin-top: rem-calc(32); }
    &.topbar-fixed {
      .site { margin-top: rem-calc($wpf_header_height+32); }
      .fixed-header {
        padding-top: 0;
        //margin-top: rem-calc(32);
        height: rem-calc($wpf_header_height+32);
      }
      #wpadminbar { top: 0; z-index: 100; }
      #navbar { top: rem-calc(32); }
    }
    &.topbar-sticky {
      //.fixed-header { top: rem-calc(32); }
      .fixed { margin-top: rem-calc(32); }
    }
  }
}


/* ==========================================================================
   Content
   ========================================================================== */


.content-area {
  @extend %container;
  padding-top: rem-calc(20);
}
.site-content, .site-content-fw {
  @extend %col;
}

// 404 / "No posts found"
.panel {
  @include panel;
  @include radius;
}
.panel hr {
  border: 5px solid $primary-color;
}

// wp aligning
.alignright, .alignleft, .aligncenter, .alignnone {
  display: block;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

// post thumbnail
.wp-post-image {
  @include side-radius(top, $crumb-radius);
}

// img / caption
figure {
  max-width: 100%;
  margin-bottom: rem-calc(20);
}
img[class*="wp-image-"] {
  @include radius;
  margin-bottom: rem-calc(20);
}
figure img[class*="wp-image-"] {
  margin-bottom: rem-calc(5);
}
figcaption {
  display: block;
  font-style: italic;
  font-size: rem-calc(14);
  line-height: $paragraph-line-height;
}

// Breadcrumbs
.category-list {
  @include crumb-container;
  @include radius($crumb-radius);
  &>* {
    @include crumbs;
    margin-bottom: rem-calc(9);
  }
}
.entry-thumbnail + .category-list {
  @include side-radius(top, 0); // reset the top corners
}

// Pagination
.navigation {
  @include pagination-container($center:true);
  ul.page-numbers {
    @include pagination($center:true, $base-style:false);
    margin-bottom: rem-calc(14);
    li {
      margin-bottom: rem-calc(5);
    }
  }
}
ul.page-numbers {
  @include pagination($center:true, $base-style:true, $use-default-classes:false);
  span.current {
    @include pagination-current-item($has-anchor: false);
    display: inline-block;
    /* @todo: remove this once PR is excepted: https://github.com/zurb/foundation/pull/4493 */
    @include radius;
  }
}
.pagination-title {
  display: block;
  margin-bottom: rem-calc(10);
}

// Post entry-title
h1.entry-title {
  margin-bottom: 5px;
}

// more-link
.more-link:after {
  @extend %FACore;
  margin-left: rem-calc(10);
  content: '\f178';
}

// (Post) entry-meta
.entry-meta {
  font-style: italic;
  color: $primary-color;
  & > span {
    display: inline-block;
    margin: rem-calc(0 20 20 0);
  }
  // sticky post
  .sticky-post {
    font-weight: bold;
    text-decoration: underline;
  }
  // author
  .author {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
.comments-link {
  @extend .text-center;
}
.post-tags {
  margin-top: rem-calc(20);
  @extend .text-center;
}
.post-tag {
  @include label($text-size: rem-calc(11), $bg:$secondary-color, $radius:true);
  text-transform: uppercase;
  letter-spacing: rem-calc(1.5);
  margin-bottom: rem-calc(5);
  color: $primary-color;
}

/* author-bio
   ========================================================================== */
.author-info {
  @extend .panel;
  @include clearfix;
}
.single .author-info {
  margin-top: rem-calc(40);
}
.author-avatar {
  float: left;
  margin: rem-calc(0 20 10 0);
  img {
    @include radius;
  }
}
.author-description {
  h2 {
    font-size: rem-calc(25);
    margin-top: 0;
  }
}
.author-link {
  @extend .more-link;
  &:after {
    margin-left: 0;
  }
}

@media #{$small} {
  .sidebar_right .site-content, .site-content {
    @include grid-column($columns:8, $collapse:null, $float:false);
  }
  .sidebar_left .site-content {
    @include grid-column($push:4);
  }
  // wp aligning
  .alignright {
    display: inline-block;
    float: right;
    margin-left: rem-calc(15);
  }
  .alignleft {
    display: inline-block;
    float: left;
    margin-right: rem-calc(15);
  }
  // img / caption
  .wp-caption.alignright img, .wp-caption.alignleft img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ==========================================================================
   Sidebar & Sidebar-widget
   ========================================================================== */


.sidebar-container {
  @extend %col;
}

// Dont show the "dots" for widget list's
.widget ul {
  list-style: none;
}

@media #{$small} {
  .sidebar_right .sidebar-container, .sidebar-container  {
    @include grid-column($columns:4, $collapse:null, $float:false, $last-column:true);
  }
  .sidebar_left .sidebar-container {
    @include grid-column($pull:8);
  }

  // Add some extra margin to ul.widget
  .widget ul {
    margin-#{$default-float}: $list-side-margin;
  }
}


/* ==========================================================================
   Footer & Footer-widget
   ========================================================================== */


#colophon section {
  @extend %container;
  [class*="widget-"] + [class*="widget-"]:last-child {
    float: $opposite-direction;
  }
}

// Container for the footer widget's
.footer-sidebar {
  h5 {
    margin-top: 0;
  }
}

// Widget's footer sizes
.widget-xlarge, .widget-large, .widget-medium, .widget-small {
  @extend %col;
}

// Add some spacing at the bottom of every widget in the footer sidebar
.footer-sidebar .widget {
  margin-bottom: rem-calc(20);
}

// Container for .site-info and .footer-menu
.site-footer-meta {
  padding-bottom: rem-calc(20);
}
// Contains the footer menu
.footer-menu {
  @extend %col;
  ul {
    @include inline-list;
    margin-bottom: 0;
    float: left;
  }
}
// Contains some site information
.site-info {
  @extend %col;
  p {
    margin-bottom: 0;
  }
}

@media #{$small} {
  // widget's footer sizes
  .widget-xlarge {
    @include grid-column($columns:12, $collapse:null, $float:false);
  }
  .widget-large {
    @include grid-column($columns:8, $collapse:null, $float:false);
  }
  .widget-medium {
    @include grid-column($columns:6, $collapse:null, $float:false);
  }
  .widget-small {
    @include grid-column($columns:4, $collapse:null, $float:false);
  }

  .widget-half {
    @include grid-column($columns:4, $collapse:null, $float:false);
  }

  // Contains the footer menu
  .footer-menu {
    @include grid-column($columns:6, $collapse:null, $push:6, $float:false);
    ul {
      float: right;
    }
  }
  // Contains some site information
  .site-info {
    @include grid-column($columns:6, $collapse:null, $pull:6, $float:false);
  }
}


/* ==========================================================================
   WordPress Comments
   ========================================================================== */

@if $include-wpcomments-classes {
  .comment-list {
    list-style-type: none;
    .comment-body {
      margin-top: rem-calc(10);
      padding: rem-calc(5);
      border: 1px solid $secondary-color;
      @include radius($global-radius);
    }
    .comment.bypostauthor .comment-body {
      border-color: lighten($primary-color, 20%);
    }
    .comment.thread-even .comment-body {
      background-color: lighten($secondary-color, 5%);
    }
    ul.children {
      background-color: #ffffff;
      list-style-type: none;
      margin-left: rem-calc(10)
    }
    .comment-author {
      text-align: right;
    }
    .fn {
      margin-left: rem-calc(10);
    }
    .avatar {
      @include radius(50%);
      float: left;
    }
    .comment-metadata {
      text-align: right;
      margin-bottom: rem-calc(20);
      time:before {
        @extend %FACore;
        margin-right: rem-calc(10);
        content: '\f073';
      }
      .edit-link {
        margin-left: rem-calc(10);
        @extend .NW;
        a:before {
          @extend %FACore;
          margin-right: rem-calc(10);
          content: '\f044';
        }
      }
    }
    .reply {
      text-align: right;
      @extend .NW;
      .comment-reply-link {
        &:before {
          @extend %FACore;
          margin-right: rem-calc(10);
          content: '\f0e5';
        }
      }
    }
  }
}
.comment-respond {
  @extend %container;
  p {
    margin: 0;
    line-height: 1;
  }
  .comment-notes, .form-allowed-tags, .logged-in-as {
    margin-bottom: rem-calc(20);
    line-height: 1.6;
  }
  input[type="text"], input[type="email"], input[type="url"], textarea {
    @include radius;
  }
  textarea {
    min-height: rem-calc(200);
  }
  p.form-submit {
    @include clearfix;
    input[type="submit"] {
      @include button-base;
      @include button-size;
      @include button-style($radius:true);
      float: right;
    }
  }
}

@media #{$small} {
  .comment-list {
    ul.children {
      margin-left: rem-calc(25)
    }
    .comment-body {
      position: relative;
      margin-top: rem-calc(40);
      padding: rem-calc(10 20 10 35);
    }
    .comment-author {
      position: absolute;
      top: rem-calc(-25);
    }
    .fn {
      margin-left: 0;
    }
    .avatar {
      position: absolute;
      left: rem-calc(-60);
    }
  }
}

/* ==========================================================================
   Contact (template)
   ========================================================================== */


@if $include-contact-classes {
  form#wpf_contact {
    fieldset {
      @include radius;
    }
    div {
      @extend %container;
      &.error {
        label {
          @include form-label-error-color;
        }
        input, textarea {
          @include form-error-color;
          @include side-radius(bottom, 0);
        }
        small {
          @extend %col;
          @include form-error-message;
          @include side-radius(bottom);
        }
      }
    }
    label {
      @extend %col-colapsed;
    }
    input[type="text"], input[type="email"], textarea {
      @extend %col;
      @include radius;
    }
    textarea {
      min-height: rem-calc(200);
    }
    input[type="submit"] {
      @include button-base;
      @include button-size;
      @include button-style($radius:true);
      float: right;
    }
  }

  @media #{$small} {
    form#wpf_contact {
          // @todo: Optimize - extend from a global
      label {
        @include grid-column($columns:3, $collapse:false, $float:false);
        text-align: right;
        margin: 0 0 $form-spacing 0;
        padding-top: $form-spacing / 2 + rem-calc($input-border-width * 2);
        padding-bottom: $form-spacing / 2 + rem-calc($input-border-width * 2);
      }
      input[type="text"], input[type="email"], textarea, div.error small {
        @include grid-column($columns:9, $collapse:null, $float:false, $last-column:true);
      }
    }
  }
}
